.second{
    width: 100%;
    height: auto;
    margin-top: 200px;

}

.second_wrapper{
    display: flex;
    max-width: 1320px;
    margin: 0 auto;
    gap: 20px;
}
.second__wrapper_image{
    height: auto;
    border-radius: 16px;
}

.swiper {
    width: 100%;
    height: 100%;
  }


  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 100%;
  }

  .swiper{
    display: none !important;
  }
@media screen and (min-width: 320px) and (max-width: 768px) {

  .second{
    margin-top: 125px;
}
    .second_wrapper{
        padding: 0px 20px 24px 20px;
      }

      .swiper{
        display: block !important;
      }

      .second_wrapper{
        display: none;
      }
        }

        @media screen and (min-width: 769px) and (max-width: 1200px){
          .second{
            margin-top: 125px;
        }

            .second_wrapper{
                padding: 0px 57px 24px 57px;
                flex-direction: column;

              }

        }